/*
https://www.w3schools.com/howto/howto_css_full_page.asp
https://startbootstrap.com/snippets/video-header/
*/
body, html {
    height: 100%;
}

.star_background {
    background-image: url("/assets/images/shearers_quarters/stars_image.JPG");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: relative;
    z-index: -2;
    background-color: black;
    height: 60vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    /* position: absolute; */
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    /* z-index: 2; */
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    */
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('/assets/images/shearers_quarters/stars_image.JPG') black no-repeat center center scroll;
        background-attachment: fixed;
    }
    header video {
        display: none;
    }
}

.mapboxgl-popup {
    max-width: 300px;
}

.mapboxgl-popup-content {
    padding: 0px;
}

.light-background {
    background: #f3f2d7;
}
.transparent-background {
    background: rgba(0,0,0,0.5);
}
.mapMenuShow {
    display: none;
}
#main-map-menu {
    /* Place content 65px from the top */
    padding-top: 65px; 
}
@media only screen and (max-width: 768px) {
    #main-map-menu {
        height: 100%;
        /* 0 width - change this with JavaScript */
        width: 300px;
        /* Stay on top */
        position: absolute;
        /* position: relative; */
        z-index: 1;
        top: 0;
        right: 0;
        transition: 0.5s;
    }
    #mapMenuParent {
        width: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .mapMenuShow {
        display: block;
    }


    #map-menu-toggle {
        width: 30px; 
        height: 100%;
        float: left;
        cursor: pointer;
    }

    #map-menu-toggle-icon {
        width: 100%;
        position: relative;
        top: 50%; 
        transform: translate(0, -50%) rotateZ(180deg);
        float: left;

    }

    #controlsContainer {
        position: static;
        overflow-x: hidden; /* Disable horizontal scroll */
        overflow-y: auto;
        /* float: right; */
    }

}
.fullpagesection {
    height: 100vh; 
    padding-top: 65px;
}

a.anchor {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}
.detail-row {
    display: none;
}
.map-nav-link:hover {
    background: rgba(255,255,255,0.3);
    cursor: pointer;
}
